params {
  fastqc_2 {
    // Built-in parameters
    args = ""
    }
}


process {
  withName: fastqc_2 {
    container = "quay.io/biocontainers/fastqc:0.11.9--0"
    // Resources
    
    // Error handling
    
    
    // Results
    // Custom directive
    ext.args = params.fastqc_2.args
    
  }
}

